.bg1{
	background:red;
}
.bg2{
	background:grey;
	margin-top:20px;
}
.bg4{
	background:grey;
}
body{
	font-family: 'Indie Flower', cursive;
	background:"white_tiger.jpg";
	background:cover;
	
}
.bg5{
	background:grey;
}